<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Sacuvaj Avion</title>
</head>

<body>

<div class="container">

    <h3>Airplane</h3>
    <hr>


    <form action="#" th:action="@{/airplane/save}"
          th:object="${airplane}" method="POST">

        <!--			<input type="hidden" th:field="*{id}" />-->

        <div class="form-group">
            <label class="control-label"> Airplane Name </label><input
                class="form-control" th:field="*{naziv}" required
                autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <label class="control-label"> Passenger Capacity </label> <input
                class="form-control"
                th:field="*{kapacitetPutnika}" required autofocus="autofocus"/>
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/airplane/list}">Back to the airplane list</a>

</div>
</body>

</html>










