<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Flight</title>
</head>

<body>

<div class="container">

    <h3>Flight</h3>
    <hr>


    <form action="#" th:action="@{/flight/admin/save}"
          th:object="${flight}" method="POST">

        <div class="form-group">
            <label class="control-label"> Airplane </label>
            <select th:field="*{avion}">
                <option value=""> -- </option>
                <option th:each="airplane : ${airplanes}"
                        th:value="${airplane.id}"
                        th:utext="${airplane.naziv}"></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label"> Leaving from </label><input
                class="form-control" th:field="*{pocetnaDestinacija}" required
                autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <label class="control-label"> Going to </label> <input
                class="form-control"
                th:field="*{krajnjaDestinacija}" required autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <label class="control-label"> Flight length </label> <input
                class="form-control"
                th:field="*{duzinaLeta}" required autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <label class="control-label"> Price </label> <input
                class="form-control"
                th:field="*{cena}" required autofocus="autofocus"/>
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/flight/admin/list}">Back to the flight list</a>

</div>
</body>

</html>










